{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "crlf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@nestjs/*", "^[~].*", "^[.]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
